.Navbar {
  width: 100%;
  $navbar-background: #f4f0ea;
  background: $navbar-background;

  nav {
    padding: 0;
    height: 80px;
    line-height: 80px;
    display: flex;
    flex-direction: row;

    $a-font-size: 1.2rem;

    a {
      text-decoration: none;
      height: 100%;
      padding: 0 1.6rem;
      color: #414141;
      font-size: $a-font-size;
      display: inline-block;
      transition: transform 50ms ease-in-out;
      border-radius: 5px;

      &:first-child {
        font-size: 2rem;
      }

      &:hover {
        transform: scale(1.1);
        background: lighten($navbar-background, 4) !important;
      }

      &.active {
        //transform: scale(1.1);
        background: darken($navbar-background, 4);
      }
    }
  }

  .navbar-brand {
    font-weight: bolder;
    font-size: 1.5rem;
  }
}

.Profile {
  padding: 2rem;
  //max-width: 600px;

  //display: flex;
  //flex-wrap: wrap;

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .name {
    text-align: center;
  }

  .left-pane {
    img {
      max-width: 200px;
      border-radius: 6px;
    }

    text-align: center;
  }

  .right-pane {
    text-align: center;

    textarea {
      text-align: center;
    }
  }

  .card {
    margin-bottom: 2rem;
  }
}

.Auth {
  margin: 5rem 10rem;
  width: 300px;
  @media (max-width: 576px) {
    margin: 5rem auto;
  }

  .Login-form {
    .login-warning {
      height: 0;
      vertical-align: center;
      text-align: center;
      border-radius: 5px;
      margin: 1rem 0;
      transition: height 50ms ease-in-out;

      &.expanded {
        height: 100px;
        line-height: 100px;
      }
    }
  }

  .input-wrapper {
    position: relative;
    height: 36px;
    transition: height 50ms ease-in-out;

    &.expanded {
      height: 100px;

      p {
        opacity: 1;
      }
    }
  }

  .warning {
    width: 100%;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 0;
    height: 100%;

    p {
      width: 100%;
      text-align: center;
      bottom: 10px;
      position: absolute;
      margin: 0;
      opacity: 0;
    }
  }
}

%page-height {
  min-height: 900px;
}

.Welcome {
  height: 100%;

  .page {
    @extend %page-height;
    height: 100vh;
    border: solid 1px black;
    padding: 50px;
  }

  .Top-bar {
    @extend %page-height;
    height: 100vh;
    $collapseTime: 1s;
    $collapsedHeight: 200px;
    $collapsedHeightSmall: 100px;

    .jumbotron {
      z-index: 100;
      width: 100vw;
      min-height: $collapsedHeight;
      @media (max-width: 576px) {
        min-height: $collapsedHeightSmall;
      }
      height: 0;
      padding: 0;
      margin: 0;
      text-align: center;
      transition: height $collapseTime ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      background-image: url("welcome/top-background.jpg");
      background-position: center;
      color: silver;
      border-radius: 0 !important;

      .test-wrapper {
        width: 100%;
        height: inherit;
        min-height: inherit;
      }

      h1 {
        width: 100%;
        transform: translate(-50%, -50%);
        top: 45%;
        left: 50%;
        position: absolute;
        transition: top $collapseTime, font-size $collapseTime;
        font-size: 5rem;
        font-weight: bolder;
        margin: 0 0;
        @media (max-width: 576px) {
          font-size: 3rem;
        }
      }

      h2 {
        position: relative;
        margin-top: 200px;
        font-weight: lighter;
        font-size: 3rem;
      }

      h3 {
        cursor: pointer;
        animation: glow 4s linear infinite;
        text-decoration: underline;
        @keyframes glow {
          0% {
            color: #777;
          }
          50% {
            color: #f3f3f3;
          }
          100% {
            color: #777;
          }
        }
      }

      h2, h3 {
        opacity: 0;
        transition: opacity $collapseTime;
      }

      &.initial {
        height: 100%;
        // TODO why doesn't this cover the whole height
        text-align: center;
        justify-content: normal;

        .test-wrapper {
          height: 20vw;
        }

        h1 {
          top: 15%;
          font-size: 10rem !important;
          color: #444 !important;
          @media(max-width: 576px) {
            font-size: 5rem !important;
          }
        }

        h2, h3 {
          opacity: 1;
        }
      }
    }

    .behind {
      padding-top: $collapsedHeight;
      @media (max-width: 576px) {
        padding-top: $collapsedHeightSmall;
      }
    }
  }
}

.Hello-world {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  column-gap: 5px;

  .my-box {
    text-align: center;
    background-color: #282c34;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    p {
      font-size: 2rem;
    }
  }

  .spin {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

$primary-color: #007bff;

.btn.loading {
  animation: glow-loading 1s ease-in-out infinite;
  @keyframes glow-loading {
    0% {
      background: $primary-color;
    }

    50% {
      background: white;
    }

    100% {
      background: $primary-color;
    }
  }
}

.single-shake {
  animation: shake 0.3s;
  animation-iteration-count: 1;

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}