.Auth {
  margin: 5rem 10rem;
  width: 300px;
  @media (max-width: 576px) {
    margin: 5rem auto;
  }
}

.Hello-world {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  column-gap: 5px;

  .my-box {
    text-align: center;
    background-color: #282c34;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    p {
      font-size: 2rem;
    }
  }

  .spin {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$offset: 100px;
.my-jumbotron-container {
  position: relative;
  width: calc(100% + #{$offset});
  left: -$offset;
  height: 100%;
  box-shadow: 100px 5px 30px gray;

  .jumbotron {
    width: 100vw;
    position: relative;
    left: 100px;
    background-image: url("top-background.jpg");
    background-position: center;
    color: silver;
    border-radius: 0 !important;

    h1 {
      font-size: 5rem;
      margin: 0 5%;
      @media (max-width: 576px) {
        font-size: 3rem;
      }
    }
  }
}
