.Chat-page {
  height: 100vh;
}

.chat-column {
  height: auto;
  bottom: 0;
  position: relative;
  width: 100%;
  border: solid 1px black;
}
.chat-column .chat-messages {
  height: 100%;
}
.chat-column .chat-messages .message.me {
  text-align: right;
}
.chat-column .chat-messages .message.someone {
  text-align: left;
}

.Friend-page .friend-page-right-pane {
  background: #ddd;
  z-index: 10;
}
.Friend {
  border: none !important;
  align-items: center;
  justify-content: space-between;
}
.Friend:hover {
  background: #eee;
}
.Friend .img-wrapper {
  display: flex;
  width: 50px;
  height: 50px;
}
.Friend .img-wrapper img {
  margin: auto;
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}
.Friend .name {
  color: #3c4043;
  font-weight: 500;
  font-size: 0.95rem;
  text-overflow: revert;
  white-space: nowrap;
  z-index: -1;
}

.Settings {
  width: 100%;
}
.Settings .settings-choice {
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
}
.Settings .settings-choice a {
  margin: 0 2rem;
}
.Settings .settings-choice a.active {
  background: green;
}

.Navbar {
  width: 100%;
  background: #f4f0ea;
}
.Navbar nav {
  padding: 0;
  height: 80px;
  line-height: 80px;
  display: flex;
  flex-direction: row;
}
.Navbar nav a {
  text-decoration: none;
  height: 100%;
  padding: 0 1.6rem;
  color: #414141;
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 5px;
}
.Navbar nav a:first-child {
  font-size: 2rem;
}
.Navbar nav a:hover {
  background: #fbfaf7 !important;
}
.Navbar nav a.active {
  background: #ede6dd;
}
.Navbar .navbar-brand {
  font-weight: bolder;
  font-size: 1.5rem;
}

.Profile {
  padding: 2rem;
}
.Profile .break {
  flex-basis: 100%;
  height: 0;
}
.Profile .name {
  text-align: center;
}
.Profile .left-pane {
  text-align: center;
}
.Profile .left-pane .img-wrapper {
  display: flex;
  width: 200px;
  height: 200px;
  margin: auto;
}
.Profile .left-pane .img-wrapper img {
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
}
.Profile .right-pane {
  text-align: center;
}
.Profile .right-pane textarea {
  text-align: center;
}
.Profile .card {
  margin-bottom: 2rem;
}

.Auth {
  margin: 5rem 10rem;
  width: 300px;
}
@media (max-width: 576px) {
  .Auth {
    margin: 5rem auto;
  }
}
.Auth .Login-form .login-warning {
  height: 0;
  vertical-align: center;
  text-align: center;
  border-radius: 5px;
  margin: 1rem 0;
  transition: height 50ms ease-in-out;
}
.Auth .Login-form .login-warning.expanded {
  height: 100px;
  line-height: 100px;
}
.Auth .input-wrapper {
  position: relative;
  height: 36px;
  transition: height 50ms ease-in-out;
}
.Auth .input-wrapper.expanded {
  height: 100px;
}
.Auth .input-wrapper.expanded p {
  opacity: 1;
}
.Auth .warning {
  width: 100%;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0;
  height: 100%;
}
.Auth .warning p {
  width: 100%;
  text-align: center;
  bottom: 10px;
  position: absolute;
  margin: 0;
  opacity: 0;
}

.Welcome .Top-bar, .Welcome .page {
  min-height: 900px;
}

.Welcome {
  height: 100%;
}
.Welcome .page {
  height: 100vh;
  border: solid 1px black;
  padding: 50px;
}
.Welcome .Top-bar {
  height: 100vh;
}
.Welcome .Top-bar .jumbotron {
  z-index: 100;
  width: 100vw;
  min-height: 200px;
  height: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: height 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-image: url("welcome/top-background.jpg");
  background-position: center;
  color: silver;
  border-radius: 0 !important;
}
@media (max-width: 576px) {
  .Welcome .Top-bar .jumbotron {
    min-height: 100px;
  }
}
.Welcome .Top-bar .jumbotron .test-wrapper {
  width: 100%;
  height: inherit;
  min-height: inherit;
}
.Welcome .Top-bar .jumbotron h1 {
  width: 100%;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  position: absolute;
  transition: top 1s, font-size 1s;
  font-size: 5rem;
  font-weight: bolder;
  margin: 0 0;
}
@media (max-width: 576px) {
  .Welcome .Top-bar .jumbotron h1 {
    font-size: 3rem;
  }
}
.Welcome .Top-bar .jumbotron h2 {
  position: relative;
  margin-top: 200px;
  font-weight: lighter;
  font-size: 3rem;
}
.Welcome .Top-bar .jumbotron h3 {
  cursor: pointer;
  animation: glow 4s linear infinite;
  text-decoration: underline;
}
@keyframes glow {
  0% {
    color: #777;
  }
  50% {
    color: #f3f3f3;
  }
  100% {
    color: #777;
  }
}
.Welcome .Top-bar .jumbotron h2, .Welcome .Top-bar .jumbotron h3 {
  opacity: 0;
  transition: opacity 1s;
}
.Welcome .Top-bar .jumbotron.initial {
  height: 100%;
  text-align: center;
  justify-content: normal;
}
.Welcome .Top-bar .jumbotron.initial .test-wrapper {
  height: 20vw;
}
.Welcome .Top-bar .jumbotron.initial h1 {
  top: 15%;
  font-size: 10rem !important;
  color: #444 !important;
}
@media (max-width: 576px) {
  .Welcome .Top-bar .jumbotron.initial h1 {
    font-size: 5rem !important;
  }
}
.Welcome .Top-bar .jumbotron.initial h2, .Welcome .Top-bar .jumbotron.initial h3 {
  opacity: 1;
}
.Welcome .Top-bar .behind {
  padding-top: 200px;
}
@media (max-width: 576px) {
  .Welcome .Top-bar .behind {
    padding-top: 100px;
  }
}

.Home {
  min-height: calc(100vh - 80px);
}
.Home .Left-pane {
  max-width: 200px;
  background: #f5f5f5;
}
.Home .event-wrapper {
  min-height: 500px;
}

.Hello-world {
  background: #eee;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Word-test-app {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  column-gap: 5px;
}
.Word-test-app .my-box {
  text-align: center;
  background-color: #282c34;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.Word-test-app .my-box p {
  font-size: 2rem;
}
.Word-test-app .spin {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn.loading {
  animation: glow-loading 1s ease-in-out infinite;
}
@keyframes glow-loading {
  0% {
    background: #007bff;
  }
  50% {
    background: white;
  }
  100% {
    background: #007bff;
  }
}

.single-shake {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=App.css.map */
