.App {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    column-gap: 5px;
}

.my-box {
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.spin {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}